body {
  width: 100%;
}

.head {
  font-family: 'Montserrat', sans-serif;
  color: #1C3144;
  margin-bottom: 1.4%;
}

.form {
  width: 95%;
  margin: 1% auto 5% auto;
  background: #333;
  color: #fff;
  display: flex;
  // justify-content: space-between;
  align-items: center;
  border: none;
  .input {
    flex: 1;
    font-size: 1.4rem;
    padding: 1% 1.6%;
    border: 0.5px solid #369cfe;
  }
  .btn {
    font-size: 1.1rem;
    padding: 1%;
    border: none;
  }
}